#control-panel {
    background-color: #fff;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}
#format-actions {
    width: 600px;
}
